@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik+Glitch&family=Vina+Sans&display=swap');

//font colors
$colorWhite: #f1f0f0;
$colorDark: #002100;

// background color
$bgDark: #002100;
$bgGreen: #00cc00;
$bgPink:  #ff33cc;
$bgYellow: #ffff99;
$bgWhite: #f1f0f0;

//fonts
$font1: "Arial";
$font2: "Lilita One";


