@import "../../styles/mixins";
@import "../../styles/variables";


.footer-container{
    border-top: 3px solid gray;
    height: 20vh;
    background-color: $bgPink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*margin-bottom:10vh;*/
}

.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
    
    p{
        font-size: 18px;
        margin-right: 35px;
        font-family: $font2;
    }

}


.footer-emojis{
    display: flex;
    align-items: center;

    ul{
        list-style: none;
        display: flex;
    }

    li{
        margin-left: 35px;
        font-size: 25px;
        cursor: pointer;
    }

    li:hover{
        transition: 0.4s ease-in;
        color: $bgPink;
    }

}

