
@import "../../styles/mixins";
@import "../../styles/variables";

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 3px solid rgb(0, 138, 39);
    background-color: $bgGreen;
    font-weight: 600;
}

textarea{
    margin: 10px 0px;
    padding: 15px;
    border-radius: 10px;
    background-color: $bgGreen;
    border: 3px solid rgb(0, 138, 39);
   
}

.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

label{
    font-size: 12px;
    color: rgb(174, 174, 174);
}

span{
    color: red;
    display: none;
    font-size: 12px;
}

input:invalid[focused = "true"] ~ span{
    display: block;
    
}

button{
    margin: 10px 0px;
    background-color: $bgPink;
    color: $colorDark;
    padding: 7px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    font-family: $font2;
    cursor: pointer;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-submit{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}