// Navbar.scss

@import "../../styles/mixins";
@import "../../styles/variables";

.navbar-container {

    p{
        font-size: 12px;
    }
  .circle {
    z-index: 1000; /* Adjust z-index as needed */
    height: 120px;
    width: 120px;
    border-radius: 60px;
    left: 0%;
    top: 50%;
    position: fixed;
    background-color: $bgPink;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    font-size: 50px;
    color: $colorDark;
    background-color: $bgGreen;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}
