@import "../../styles/mixins";
@import "../../styles/variables";


.info3-container{
    background-color: $bgWhite;
    @include info-container-2();
 }
 
 .info3-content{
     @include info-content-2();
 }
 
 .info3-text{
     @include info-text-2();
     margin-right: 0;
     margin-left: 70px;
 }